.card-year__container {
	border: 1px solid gray;
	width: 80%;
	margin: auto;

}


.year__card-members{
	border: 1px solid blue;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
