<div class="card-year__container" *ngFor="let yearContent of yearsData">
	<div class="title__card-year">
		<h3>{{yearContent.year}}</h3>
		<hr>
		<p>{{yearContent.description}}</p>
	</div>
	<div class="content__year-card">
		<!-- <ng-container *ngIf="cardTypeCY === 'parties'; else membersTemplate">
			<ng-template #partiesTemplate>


			</ng-template>
		</ng-container>
			<ng-template #membersTemplate>
				<app-card-members>

				</app-card-members>
			</ng-template> -->
			<app-card-parties [anoCorrente]="yearContent.year"></app-card-parties>

	</div>
</div>
