.header__container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	background-color: #2b2b2b;
	color: #FEFEFE;
}

.header__title{
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.header__img-title {
	width: 200px;
	margin-top: 1rem;
}

.header__img-title > img {
	width: 100%;
	border-radius: 50% 50% 25% 25%;
}

.header__write-title > h1{
	letter-spacing: 1rem;
	font-size: 3.5rem;
}

.header__write-title > p {
	font-size: 1rem;
}
