/*
MEDIA QUERIES
*/
@media screen and (max-width: 768px){
	.header__img-title {
		width: 100px;
	}

	.header__write-title > h1{
		letter-spacing: 1rem;
		font-size: 1.5rem;
	}

	.header__write-title > p {
		font-size: .5rem;
	}
}

/* @media screen and (max-width: 1023px) and (min-width: 769px){

} */
