.header__container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	background-color: #2b2b2b;
	color: #FEFEFE;
}

.header__title{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.header__title > h1{
	letter-spacing: 1rem;
	font-size: 3.5rem;
}

.header__title > p {
	font-size: 1rem;
}
