.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;

	margin-top: 1rem;
}


.card-container{
	border: 1px solid gray;
	border-radius: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: 1rem .5rem;
	width: 200px;
	height: 250px;
}
