<div class="container">
	@for (item of items; track $index) {
		<div class="card-container">
			<div class="header-container">
				<h4>{{item.nameItem}}</h4>
			</div>

			<div class="img-container">
				<img src=" https://source.unsplash.com/random/280x280" alt="	IMAGEM DO ITEM ">
			</div>

			<div class="details-container">
				<p>{{item.priceItem | currency:'BRL' }}</p>
			</div>

			<div class="buttons-container">
				<div>
					<button class="btn btn-details">DETALHES</button>
				</div>
				<div>
					<button class="btn btn-buy-in">COMPRAR</button>
				</div>
			</div>
		</div>
	}
</div>
