.container__card-parties{
	margin-top: 1rem;
	padding: .5rem 1rem;
	border-radius: 1rem;
	background-color: #2b2b2b;
	color: #FEFEFE;
}

.container__card-parties:hover{
	background-color: #FEFEFE;
	color: #2b2b2b;
}
