<div class="container__home">
	<h1>BEM-VINDOS À PÁGINA DA REPÚBLICA METHIOLATTE</h1>
	<div class="img__home">
		<div class="content__img-gens">
			<img src="../../../assets/images/imgMeth/newlogo.jpeg" alt="New Logo" class="img__gens">
			<figcaption>Terceira geração</figcaption>
		</div>
		<div class="content__img-gens">
			<img src="../../../assets/images/imgMeth/oldLogo.png" alt="Old Logo" class="img__gens">
			<figcaption>Segunda geração</figcaption>
		</div>
		<div class="content__img-gens">
			<img src="../../../assets/images/imgMeth/firstLogo.jpg" alt="First Logo" class="img__gens">
			<figcaption>Primeira geração</figcaption>
		</div>
	</div>
</div>
