.container__home {
	text-align: center;
}

.img__home{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.content__img-gens {
	max-width: 550px;
	margin: 1rem;
}

.img__gens {
	width: 100%;
}
