.container__menu_bar{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}

.menu__principal{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

}

.menu__sign{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

}

.btn-menu {
	padding: 0.5em 1em;
	margin: .25rem;
	background-color: #2b2b2b;
	color: #FEFEFE;
	border-radius: 1rem;
	font-weight: bold;
}

.btn-menu:hover{
	background-color: #FEFEFE;
	color: #2b2b2b;
	cursor: pointer;
}
