.login__container{
	max-width: 370px;
	margin: 3rem auto;
	border: 2px dashed rgb(230, 100, 100);
	border-radius: 2rem;
	background-color: #f0f0f0;
	padding: 1rem;
}

.title__login{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.img__title-login{
	width: 100px;
}

.img__title-login > img {
	width: 100%;
	border-radius: 50% 50% 25% 25% ;
}

.form__content-login{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 1rem;
	text-align: center;
}

.form__content-login > input {
	width: 100%;
	height: 2rem;
	border-radius: .5rem;
	padding: 0 1rem;
}

.forgetPass__content-login{
	cursor: pointer;
	color: blue;
	text-decoration: underline;
	text-align: center;
	font-size: small;
	margin-bottom: 1rem;
}

.btn__content-login{
	text-align: center;
}

.btn__content-login > button{
	cursor: pointer;
	background-color: rgb(230, 100, 100);
	border-radius: 1rem;
	width: 10rem;
	height: 3rem;
	font-weight: bold;
}
