<div class="login__container">

	<div class="title__login">
		<div class="img__title-login">
			<img src="../../../assets/images/imgMeth/newlogo.jpeg" alt="Logo">
		</div>
		<div class="title__title-login">
			<h2>LOGIN</h2>
		</div>
	</div>

	<div class="content__login">
		<form action="">

			<div class="user__content-login form__content-login">
				<label for="userLogin">Usuário:</label>
				<input type="email" name="userLogin" id="userLogin" placeholder="E-mail@email.com" maxlength="200" required>
			</div>

			<div class="pass__content-login form__content-login">
				<label for="passLogin">Senha:</label>
				<input type="password" name="passLogin" id="passLogin" maxlength="200" required>
			</div>

			<div class="forgetPass__content-login">
				<p>Esqueci a senha!</p>
			</div>

			<div class="btn__content-login">
				<button type="submit">ENTRAR</button>
			</div>

		</form>
	</div>

</div>
