/*
MEDIA QUERIES
*/

@media screen and (max-width: 480px){
	.container__footer {
		font-size: .375rem;
	}
	.form__contact > input {
		max-width: 100px;
	}
}

@media screen and (max-width: 768px) and (min-width: 481px ){
	.container__footer {
		font-size: .5rem;
	}
}


@media screen and (max-width: 1024px) and (min-width: 769px){
	.container__footer {
		font-size: .625rem;
	}
}

@media screen and (max-width: 1200px) and (min-width: 1025px){

}
