.container__footer {

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;

	background-color: #2b2b2b;
	color: #FEFEFE;

	width: 100%;

	height: 200px;
	position: absolute;
	bottom: 0;
}

.footer__social-network {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.fa-brands{
	margin: 1rem;
	color: #FEFEFE;
}

.footer__social-network {
	font-size: 3rem;
}

.form__contact {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;

	margin: .5rem 0 .5rem 0;
}

.form__contact label {
	margin-right: .225rem;
}

.form__contact > input {
	max-width: 200px;
}
