<div class="container__footer">
	<div class="content__social-network">
		<h3>Nos acompanhem nas mídias sociais:</h3>
		<div class="footer__social-network">
			<a href="http://www.instagram.com/republicamethiolatte" target="_blank">
				<p>
					<i class="fa-brands fa-instagram"></i>
				</p>
			</a>
			<a href="https://www.facebook.com/repmeth" target="_blank">
				<p>
					<i class="fa-brands fa-square-facebook"></i>
				</p>
			</a>
		</div>
	</div>

	<div class="footer__1">
		<p>PÁGINA EM CONSTRUÇÃO</p>
	</div>
	<div class="content__contact-us">
		<h3>Deseja falar algo? Mande uma mensagem:</h3>
		<div class="footer__form-contact">
			<form action="">

				<div class="form__contact">
					<label for="name-contact">Nome:</label>
					<input type="text" size="30" maxlength="50" required placeholder="Nome" id="name-contact">
				</div>
				<div class="form__contact">
					<label for="email-contact">E-mail:</label>
					<input type="email" size="30" maxlength="50" required placeholder="E-mail@email.com" id="email-contact">
				</div>
				<div class="form__contact">
					<label for="msg-contact">Mensagem:</label>
					<input type="text"  size="30" maxlength="200" placeholder="Mensagem" id="msg-contact">
				</div>
				<div class="btn-submit-form">
					<button type="submit">ENVIAR</button>
				</div>
			</form>
		</div>
	</div>
</div>
