<div class="container__footer">
	<div class="footer__1">

	</div>
	<div class="footer__social-network">
		<p>INSTAGRAM</p>
		<p>FACEBOOK</p>
		<p>OUTRO</p>
		<p>OUTRO</p>
	</div>
	<div class="footer__form-contact">
		<div>
			<label for="name-contact">NAME:</label>
			<input type="text" id="name-contact">
		</div>
		<div>
			<label for="email-contact">E-MAIL:</label>
			<input type="email" id="email-contact">
		</div>
		<div>
			<label for="msg-contact">MENSAGEM:</label>
			<input type="text" id="msg-contact">
		</div>
	</div>
</div>
