.container__footer {
	border: 1px solid forestgreen;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: #2b2b2b;
	color: #FEFEFE;

	width: 100%;

	height: 6rem;
	position: absolute;
	bottom: 0;
}

.footer__social-network {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.footer__social-network p{
	margin: 1rem;

}
